@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }
}

.app {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
}

.app > header {
  grid-area: header;
}
.app > main {
  grid-area: main;
  padding: 1rem;
}
.app > footer {
  grid-area: footer;
}
